.newsHeader {
  font-size: 3.0em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

.acc-wraper {
  margin: 30px auto;
  width: 90%;
}

.accordion {
  display: flex;
  flex-direction: column; /* Stack sections vertically */
  padding-top: 35px;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
}

.accordion > div {
  flex-grow: 1;
  overflow-y: hidden; /* Hide vertical overflow initially */
  overflow-x: hidden;
  transition: all 0.5s ease;
  border: 5px solid aliceblue;
  border-radius: 50px;
  position: relative;
  max-height: 10vh; /* Initially, keep the height small */
}

.accordion > div:hover {
  max-height: 100vh; /* Expand vertically on hover */
}

/* Background colors for each news source */
.NYT,
.CNN,
.Guardian {
  background-color: rgb(208, 236, 245);
}

.WSJ,
.NYPost,
.FOX {
  background-color: rgb(253, 214, 214);
}
