body{
  background-color:rgb(0, 0, 40)
}

.acc-wraper{
  margin: 30px auto;
  width:100%;
  
}

.accordion{
  display:flex;
  flex-wrap:nowrap;
  overflow:hidden;
  width: 190vh;
  height:85vh;
}

.accordion > div{
  width:55vh;
  flex-grow:1;
  flex-shrink:1;
  overflow-y:auto;
  overflow-x:hidden;
  transition:all .5s ease;
  border:5px solid aliceblue;
  border-radius:50px;
  position:relative
}

.accordion > div:hover{
  flex-shrink:0
}


/*
 *  Scrollbar
 */

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
  border: 2px solid transparent; 
  background-clip: padding-box; 
}
::-webkit-scrollbar-button{
  display: none;
}


/* Firefox */
* {
  scrollbar-width: thin; 
  scrollbar-color: grey transparent; 
}

