
.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  padding: 20px;
  box-sizing: border-box;
}

.article-container {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 300px;
}

.article {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.article-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.article-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
  background-color: #ffffffd7;
  overflow: hidden;
  max-height: 190px;
  overflow-y: scroll;
}

.article-text h3 {
  font-size: 18px;
  margin: 5px;
  color: #6398d4;
}

.article-text p {
  font-size: 14px;
  color: #000000;
  margin: 5px;
  margin-top: 0px;
}

.article-logo {
  width: 100%;
  height: 150px; /* Fixed height */
  object-fit: cover;
  margin-top: 10px;
}

.article-footer {
  height: 40px; 
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  display: flex;
  color: #000000;
  background-color: #6a6a70;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; /* Ensure padding is included in the height */
}

.bookmark-btn {
  background-color: #007bff;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.bookmark-btn.red {
  background-color: #ff0000;
}

.bookmark-btn:hover {
  background-color: #0056b3;
}

.img-container img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.article a {
height: 100%;
padding: 5px;
}
.showmore{
  font-size: 15px;
  color: #fafcff;
}
.showmore:hover{
  text-decoration: underline;
}