.container-fluid {
  margin-top: 5rem;
}

.article-container {
  transition: all 0.3s ease-in-out;
  width: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.article {
  background: #fff;
  padding: 20px;
  margin: 19px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; 
}

.article-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.article-text {
  flex: 1;
  margin-right: 15px;
  text-align: center; 
}

.article-logo {
  width: 50%; 
  height: auto;
  border-radius: 8px;
  display: block;
  margin-left: 15px;
}

.article-container:hover {
  transform: scale(1.07);
}

.article h3 {
  font-weight: 600;
  margin: 0 0 10px;
  font-size: 1.3em;
  color: #333;
}

.article p {
  margin: 0 0 10px;
  font-size: 1em;
  color: #555;
}

.article-footer {
  display: flex;
  justify-content: center; 
  padding: 10px;
}

/* Bookmark Button */
.bookmark-btn {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: large;
  color: black;
}

.bookmark-btn::before {
  content: "\f097";
  font-family: "FontAwesome";
  color: inherit;
}

.bookmark-btn.red {
  color: #ff0000; 
}

.bookmark-btn.red::before {
  content: "\f02e"; 
  font-family: "FontAwesome";
}

.bookmark-btn:hover {
  transform: scale(1.1);
}

.left-column .article {
  border-left: 5px solid #ffb6c1; 
  border-bottom: 5px solid #ffb6c1;
}

.right-column .article {
  border-right: 5px solid #add8e6;
  border-bottom: 5px solid #add8e6;
}

.onhover{
  opacity: 0;
}

.onhover:hover{
opacity: 100;
}