.custom-scrollable-div {
    max-height: 80vh; 
    overflow-y: auto; 
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
   
}


/*position the carousel controls*/
.carousel-control-next-icon  {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); 
}
.carousel-control-prev-icon  {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
}
