.custom-scrollable-div {
    max-height: 80vh;
    overflow-y: auto;
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
    
}

.carousel-control-next,
.carousel-control-prev {
    width: 30px;
    height:30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: static;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 100%;
    height: 100%;
   
}

.slides-wrapper {
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    padding: 10px;
    padding-bottom: 30px;

}

.lazyload-wrapper {
    display: flex;
    justify-content: center;
}

.h5-lable {
    background-color: rgb(31 41 55);
    padding: 5PX;
    color: azure;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
/* .more {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */