@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 1.75%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navMenu a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  bottom: -5px;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  transform: translateX(-140px);
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  transform: translateX(-41px);
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  transform: translateX(62px);
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  transform: translateX(142px);
  opacity: 1;
}
