.news-section {
  position: relative;
  height: 45vh; /* Fixed height, adjust as needed */
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Adjust as needed */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 2;
}

.news-logo {
  max-width: 80%;
  max-height: 80%;
}

.news-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: white; /* Or any background color you prefer */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.news-section:hover .logo-container {
  opacity: 0;
  visibility: hidden;
}

.news-section:hover .news-content {
  opacity: 1;
  visibility: visible;
}

.news-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.news-card {
  margin-bottom: 15px;
}

