html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.container {
  text-align: center;
}

.app-header h1 {
  margin: 0;
  font-size: 2em;
  color: #333;
}

.app-header p {
  font-size: 1.2em;
  color: #666;
}

.app-header nav {
  margin-top: 20px;
}

.app-header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
}

.app-header nav a:hover {
  text-decoration: underline;
}

.app-main {
  margin-top: 20px;
  width: 80%;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: calc(100% - 22px); /* Adjust for padding */
  margin-right: 10px;
}

.search-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.search-results {
  margin-top: 20px;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.search-results ul {
  list-style: none;
  padding: 0;
}

.search-results li {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.search-results h3 {
  margin: 0;
  font-size: 1.5em;
}

.search-results p {
  font-size: 1em;
  color: #333;
}

.search-results a {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.search-results a:hover {
  text-decoration: underline;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dropdown {
  width: 30%;
  text-align: left;
}

.dropdown.left {
  border-left: 5px solid blue;
  padding-left: 10px;
}

.dropdown.right {
  border-right: 5px solid red;
  padding-right: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
}

.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
}

.auth-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
