/* Global Styles */

* {
  scrollbar-width: none;
}


body {
    font-family: "Georgia", serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
    margin: 10px;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Garamond", serif;
    color: #111;
    line-height: 1.2;
    margin: 1em 0;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 1.75em;
  }
  
  h4 {
    font-size: 1.5em;
  }
  
  h5 {
    font-size: 1.25em;
  }
  
  h6 {
    font-size: 1em;
  }
  
  p {
    margin: 1em 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  